data/*
experiments/*
.python-version
thesis/tex_build/*
!thesis/thesis.pdf
!thesis/thesis.tex
!thesis/references.bib
*.pyc
__pycache__/
results/*
results_old/*
.vscode/*
.DS_Store
chord-seq-ai/**
MusiConGen/**
BTC-ISMIR19/**
scripts/experiments.txt
tmp